@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: salmon;
    text-shadow: 1px 1px 1px black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    background-image: url(../img/control.png);
    background-position: right center;
    position: relative;
    z-index: 3;
}

.container::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.content {
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    padding: 25px;
    grid-row-gap: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;
    border: 4px solid salmon;
    padding: 35px 0;
    border-radius: 15px;
}

.form > input {
    width: 200px;
}

.form > input[type="text"] {
    padding: 5px 10px;
    border: 2px solid salmon;
    border-radius: 8px;
    box-shadow: 1px 1px 3px salmon;
}

.form > input[type="text"]::placeholder {
    text-align: center;
    font-size: 16px;
    color: salmon;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
}

.form > button[type="submit"] {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    transition: all .3s;
    background-color: salmon;
    text-shadow: 1px 1px 1px black;
    color: lemonchiffon;
}

.form > button[type="submit"]:hover,
.form > button[type="submit"]:active {
    background-color: lightpink;
}

.todos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.todo-item {
    border: 5px solid lightcoral;
    padding: 15px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr ;
    grid-column-gap: 50px;
    font-weight: 600;
}

.todo-title-wrapper {
    grid-column: 1/3;
    color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-wrapper > input {
    display: none;
}

.checkbox-wrapper > label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.checkbox-wrapper label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    cursor: pointer;
}

.checkbox-wrapper label::before {
    background-image: url(../img/inconCheckboxInactive.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.checkbox-wrapper input[type="checkbox"]:checked + label::before {
    background-image: url(../img/iconCheckboxAtvive.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.todo-description {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
}
